<html>
	<head>
		<link href="assets/style.css" type="text/css"
		rel="stylesheet" />
	</head>
	<body>
		Welcome to Freemie <strong><a href='/user/<%= user.id %>' title='userprofile'><%= user.username %></a></strong>
			<a href="/signout" title="sign out">sign out</a> <br/>
		<img src=<%=itemrows[0].photo %> alt="item pic" height="90" width="90"> </img> <br/>
		Name: <%=itemrows[0].title %> <br/>
		Description: <%=itemrows[0].description %><br/>
		Giver: <a href="/user/<%= itemrows[0].user_id%>" title="userprofile"><%= itemrows[0].username %></a><br/><br/>
		<p1>Back to </p1> 
		<a href="/" title="index">home.</a>
	</body>
</html>