<html>
	<head>
		<link href="assets/style.css" type="text/css"
		rel="stylesheet" />
	</head>
	<body>
		Welcome to Freemie 
		<strong>
			<a href='/user/<%= data.otherUser.id %>' title='userprofile'><%= data.otherUser.username %></a>
		</strong>
		<a href="/signout" title="sign out">sign out</a> <br/>
		<% if (mine) { %>
			<h3>Edit profile</h3>
		<% } %>

		<img src=<%= data.otherUser.profile_pic %> alt="profile pic" height="90" width="90"> </img> <br/>
		Name: <%=data.otherUser.first_name %> <%=data.otherUser.last_name %> <br/>
		Username: <%=data.otherUser.username %><br/>
		Email: <%= data.otherUser.email %><br/><br/>
		<h1> Own These Items </h1>
		<table border = "1">
			<% for(var i=0; i<data.otherUserItemsOwned.length; i++) {%>
				<tr>
					<td><a href="/item/<%= data.otherUserItemsOwned[i].id%>"><%= data.otherUserItemsOwned[i].title %></a></td>
					<td><%= data.otherUserItemsOwned[i].description %></td>
					<td><img src=<%= data.otherUserItemsOwned[i].photo %> alt="item pic" height="90" width="90"> </img> </td>
					<td><%= data.otherUserItemsOwned[i].time_posted %></td>
					<td><%= data.otherUserItemsOwned[i].numberofWants %></td>
					<!-- Complex logic depending on whether or not user is himself-->
					<% if (mine) { %>
						<td>EDIT ITEM</td>
					<% } else { %>
						<td>
						<% if (!data.otherUserItemsOwned[i].wantedByUser) { %>
							<form action="/item/<%= data.otherUserItemsOwned[i].id%>/dowant/<%= data.otherUser.id %>" method="post">
								<button name="want" value="want"><strong>Want</strong></button>
							</form>
						<% } else { %>
							<form action="/item/<%= data.otherUserItemsOwned[i].id%>/dounwant/<%= data.otherUser.id %>" method="post">
								<button name="unwant" value="unwant"><strong>Unwant</strong></button>
							</form>
						<% }%>
						</td>
					<% } %>
					<!-- End Complex Logic -->
				</tr>
			<% } %>
		</table>
		<h1> Want These Items </h1>
		<table border = "1">
			<% for(var i=0; i<data.otherUserItemsWanted.length; i++) {%>
				<tr>
					<td><a href="/item/<%= data.otherUserItemsWanted[i].what.id%>"><%= data.otherUserItemsWanted[i].what.title %></a></td>
					<td><%= data.otherUserItemsWanted[i].what.description %></td>
					<td><img src=<%= data.otherUserItemsWanted[i].what.photo %> alt="item pic" height="90" width="90"> </img> </td>
					<td><%= data.otherUserItemsWanted[i].what.time_posted %></td>
					<td><%= data.otherUserItemsWanted[i].numberofWants %></td>

					<!-- Complex logic depending on whether or not user is himself-->
					<% if (mine) { %>
						<td>
							<form action="/item/<%= data.otherUserItemsWanted[i].what.id%>/dounwant/<%= data.otherUser.id %>" method="post">
								<button name="unwant" value="unwant"><strong>Unwant</strong></button>
							</form>
						</td>
					<% } else if (data.otherUserItemsWanted[i].what.giver_id == user.id) { %>
						<td>
						</td>
					<% } else { %>
						<td>
						<% if (!data.otherUserItemsWanted[i].wantedByUser) { %>
							<form action="/item/<%= data.otherUserItemsWanted[i].what.id%>/dowant/<%= data.otherUser.id %>" method="post">
								<button name="want" value="want"><strong>Want</strong></button>
							</form>
						<% } else { %>
							<form action="/item/<%= data.otherUserItemsWanted[i].what.id%>/dounwant/<%= data.otherUser.id %>" method="post">
								<button name="unwant" value="unwant"><strong>Unwant</strong></button>
							</form>
						<% }%>
						</td>
					<% } %>
					<!-- End Complex Logic -->
				</tr>
			<% } %>
		</table>
		<p1>Back to </p1> 
		<a href="/" title="index">home.</a>
	</body>
</html>