<html lang="en">
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../assets/img/logo.png">

    <title>Sell Your Spot Now!</title>

    <!-- Bootstrap core CSS -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/assets/signin.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

    <center>
        <img class="img-circle img-responsive img-center" src="../assets/img/logo.png" width="200" height="200" alt="">
    </center>
    <br/>
    <br/>

    <center>
    <table class="form-signin table table-striped">
        <tr>
            <td><center>Queue No.</center></td>
            <td><center>Customer Name</center></td>
        </tr>
        <% for(var i=0; i<itemrows.length; i++) {%>
        <tr>
        	<% if (itemrows[i].id == user_id) { %>
            <td><b><center><%= itemrows[i].id %></center></b></td>
            <td><b><center>You!</center></b></td>
            <% } else { %>
            <td><center><%= itemrows[i].id %></center></td>
            <td><center><%= itemrows[i].username %></center></td>
            <% } %>
        </tr>
        <% } %>
    </table>
    </center>
    <br/>
    <center>
    <% if (bidrows.length != 0) { %>
        <center><h4>Linetravellers bidding for your spot</h4></center>
        <table class="form-signin table table-striped">
            <tr>
                <td><center>Customer Name</center></td>
                <td><center>Bid</center></td>
                <td><center>Accept</center></td>
            </tr>
            <% for(var i=0; i<bidrows.length; i++) {%>
            <tr>
                <td><center><%= bidrows[i].name %></center></td>
                <td><center>$<%= bidrows[i].bid_price %></center></td>
                <td><center>
                    <% if (i == 0) { %>
                    <form action="/process/<%= user_id %>" method="post">
                        <button name="served" value="served"><strong>Accept</strong></button>
                    </form></center>
                    <% } %>
                </td>
            </tr>
            <% } %>
        </table>
    <% } else { %>
        <h4>No linetraveller bidding for your spot!</h4>
    <% } %>
    </center>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/assets/ie10-viewport-bug-workaround.js"></script>

</body>
</html>